html
  head
    title Edit Employee
    link(rel='stylesheet', href='/css/style.css')
  body

    h1 Edit Employee

    form(action='/employees/update/' + employee.employee_id method='POST')

      div
        label Employee Code
        input(type='text' name='employee_code' value=employee.employee_code)

      br

      div
        label Employee Name
        input(type='text' name='employee_name' value=employee.employee_name)

      br

      div
        label Email
        input(type='email' name='email' value=employee.email)

      br

      div
        label Phone
        input(type='text' name='phone' value=employee.phone)

      br

      div
        label Department
        input(type='text' name='department' value=employee.department)

      br

      button(type='submit') Update Employee
      br

      a(href='/')
       button Back to Dashboard