doctype html
html
  head
    title Asset Management System
    link(rel='stylesheet', href='/css/style.css')
    
  body

    h1 Asset Management System

    h2 Dashboard

    div(class='dashboard-card')
      h3 Total Employees
      p #{totalEmployees}

    div(class='dashboard-card')
      h3 Total Assets
      p #{totalAssets}

    div(class='dashboard-card')
      h3 Issued Assets
      p #{issuedAssets}

    div(class='dashboard-card')
      h3 In Stock Assets
      p #{inStockAssets}

    div(class='dashboard-card')
      h3 Scrapped Assets
      p #{scrappedAssets}

    hr

    a(href='/employees')
      button Employees

    a(href='/assets')
      button Assets

    a(href='/issue-asset')
      button Issue Asset

    a(href='/return-asset')
      button Return Asset

    a(href='/scrap-asset')
      button Scrap Asset

    a(href='/stock')
      button Stock Report

    a(href='/asset-history')
      button Asset History

    a(href='/logout')
      button Logout