html
  head
    title Edit Asset
    link(rel='stylesheet', href='/css/style.css')
  body

    h1 Edit Asset

    form(action='/assets/update/' + asset.asset_id method='POST')

      div
        label Asset Name
        input(type='text' name='asset_name' value=asset.asset_name)

      br

      div
        label Asset Code
        input(type='text' name='asset_code' value=asset.asset_code)

      br

      div
        label Serial Number
        input(type='text' name='serial_number' value=asset.serial_number)

      br

      div
        label Asset Value
        input(type='number' name='asset_value' value=asset.asset_value)

      br

      div
        label Purchase Date
        input(type='date' name='purchase_date' value=asset.purchase_date)

      br

      button(type='submit') Update Asset
      br

      a(href='/')
       button Back to Dashboard